# dependency files
*.d

# dist dirs
bin/
include/
lib/

# compiled object files
*.a
*.o
*.so

# ctags
tags

# executables
benchmark/benchmark-runner
test/test-runner
src/c_executable/c_executable
src/executable/executable

# benchmark lib that needs to be built and installed
third_party/google-benchmark

# build system artifacts
src/version.h
